/* General styles */
.todoFormContainer {
    border-radius: 0.5rem;
    padding: 1rem;
    margin: 0 2rem;
    position: absolute;
    top: 6rem;
    width: 80vw;
    display: flex;
    gap: 1rem;
}

.todoForm {
    outline: none;
    border: none;
}

input::placeholder {
    font-family: 'Josefin Sans', sans-serif;
}

.checkbox {
    appearance: none;
    border: 0.1rem solid hsl(0, 0%, 90%);
    margin: 0;
    font: inherit;
    width: 1.15em;
    height: 1.15em;
    border-radius: 50%;
    transform: translateY(-0.075em);
}

/* Light theme colours */
.lightTheme .todoFormContainer {
    background-color: hsl(0, 0%, 100%);
}

.lightTheme .todoForm {
    background-color: hsl(0, 0%, 100%);
}

.lightTheme .checkbox {
    background-color: hsl(0, 0%, 100%);
}


/* Dark theme colours */
.darkTheme .todoFormContainer {
    background-color: hsl(235, 24%, 19%);
}

.darkTheme .todoForm {
    background-color: hsl(235, 24%, 19%);
}

.darkTheme .checkbox {
    background-color: hsl(235, 24%, 19%);
}

/* Media Queries */
@media (min-width:600px) {

    .todoFormContainer {
        max-width: 24rem;
    }
}