/* Light theme colours */
.lightTheme {
  background-color: hsl(0, 0%, 98%);
  color: hsl(0, 0%, 0%);
}

.lightTheme .AppMain {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: space-between;
  align-items: center;
  background-color: hsl(0, 0%, 98%);
}

.lightTheme .todoContainer {
  background-color: hsl(0, 0%, 100%);
  border-radius: 0.5rem;
  position: absolute;
  padding: 0 1rem;
  top: 11rem;
  width: 80vw;
}

/* Dark theme colours */
.darkTheme {
  background-color: hsl(235, 21%, 11%);
  color: hsl(0, 0%, 100%);
}

.darkTheme .AppMain {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: space-between;
  align-items: center;
  background-color: hsl(235, 21%, 11%);

}
.darkTheme .todoContainer {
  background-color: hsl(235, 24%, 19%);
  border-radius: 0.5rem;
  position: absolute;
  padding: 0 1rem;
  top: 11rem;
  width: 80vw;

}

button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

/* Media Queries */

/* Tablet */
@media (min-width:600px) {}

/* Desktop */
@media (min-width:960px) {}