/* Light theme colours */
.todosMenu {
    position: absolute;
    top: 100%;
    left: 0;
    margin-top: 1rem;
    width: 80vw;
    border-radius: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    font-weight: 700;
    padding: 1rem;

}

.filter:hover {
    cursor: pointer;
    color: hsl(220, 98%, 61%);
}

.lightTheme .todosMenu {
    background-color: hsl(0, 0%, 100%);
    color: hsl(236, 9%, 61%);
}


/* Dark theme colours */
.darkTheme .todosMenu {
    background-color: hsl(235, 24%, 19%);
    color: hsl(236, 9%, 61%);
}


/* Media Queries */
@media (min-width: 600px) {
    .todosMenu {
        display: flex;
        align-items: center;
        justify-content: center;
        position: initial;
        padding: 0;
        border-radius: inherit;
        margin-top: 0;
        width: 55vw;
    }
}


@media (min-width: 960px) {
    .todosMenu {
        width: 40vw;
    }
}