/* Light theme colours */

.lightTheme .todosMenu {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 2rem;
    background-color: hsl(0, 0%, 100%);
    color: hsl(236, 9%, 61%);
    border-radius: 0.5rem;
    padding: 1rem;
    top: 11rem;
    width: 80vw;
    font-weight: 700;
}


/* Dark theme colours */
.darkTheme .todosMenu {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 2rem;
    background-color: hsl(235, 24%, 19%);
    color: hsl(236, 9%, 61%);
    border-radius: 0.5rem;
    padding:  1rem;
    top: 11rem;
    width: 80vw;
    font-weight: 700;

}

.filter:hover {
    color: hsl(220, 98%, 61%);
}