/* Light theme colours */
.todosMenu {
    position: absolute;
    top: 10rem;
    left: 0;
    width: 90%;
    border-radius: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    font-weight: 700;
    padding: 1rem;
}

.filter:hover {
    color: hsl(220, 98%, 61%);
}

.lightTheme .todosMenu {
    background-color: hsl(0, 0%, 100%);
    color: hsl(236, 9%, 61%);
}


/* Dark theme colours */
.darkTheme .todosMenu {
    background-color: hsl(235, 24%, 19%);
    color: hsl(236, 9%, 61%);
}




/* Media Queries */
@media (min-width: 600px) {
    .todosMenu {
        display: flex;
        align-items: center;
        justify-content: center;
        position: initial;
        padding: 0;
        width: 50%;
        border-radius: inherit;
    }
}