.headerImage {
  width: 100vw;
  height: auto;

}

.headerImageDesktop {
  display: none;
}

.headerContainer {
  position: absolute;
  width: 85%;
  top: 2.5rem;
  display: flex;
  justify-content: space-between;

}

.appTitle {
  color: hsl(0, 0%, 100%);
  margin-top: 0;
  font-size: 2rem;
}

.iconMode {
  height: 1.5rem;
  width: 1.5rem;
}

/* Media Queries */
@media (min-width:600px) {
  .headerImage {
    height: 14.75rem;
  }

  .headerContainer {
    max-width: 24rem;
  }
}

@media (min-width:960px) {
  .headerImage {
    display: none;
  }

  .headerContainer {
    max-width: 26rem;
  }

  .headerImageDesktop {
    display: block;
    width: 100%;
  }
}