.headerImage {
  width: 100%;
  position: relative;
}

.headerImageDesktop {
  display: none;
}

.headerContainer {
  display: flex;
  position: absolute;
  width: 80vw;
  top: 2.5rem;
  justify-content: space-between;
}

.iconMode {
  height: 1.5rem;
  width: 1.5rem;
  position: absolute;
  left: 78vw;
}


.appTitle {
  position: absolute;
  color: hsl(0, 0%, 100%);
  margin-top: 0;
  font-size: 2rem;
}


/* Desktop */
@media (min-width:960px) {
  .headerImage {
    display: none;
  }

  .headerImageDesktop {
    display: block;
    width: 100%;
    position: relative;
  }
}