.lightTheme .todosCounter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: hsl(236, 9%, 61%);
    font-size: 0.75rem;
    background-color: hsl(0, 0%, 100%);
}

.darkTheme .todosCounter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: hsl(236, 9%, 61%);
    background-color: hsl(235, 24%, 19%);
    font-size: 0.75rem;
}