/* Light theme colours */
.lightTheme .todoContainer {
    background-color: hsl(0, 0%, 100%);
    border-radius: 0.5rem;
    position: absolute;
    padding: 0 1rem;
    top: 11rem;
    width: 80vw;
}

.lightTheme .todoList {
    list-style-type: none;
    padding: 0;
}

.lightTheme .todoItem {
    display: grid;
    grid-template-columns: 2rem 1fr 1fr;
    justify-items: start;
    border-bottom: 2px solid hsl(0, 0%, 98%);
    padding: 0.5rem 0;

}

.lightTheme .todoItem .checkbox:checked {
    background-color: linear-gradient hsl(192, 100%, 67%) to hsl(280, 87%, 65%);
    border-color: 0.1rem solid linear-gradient hsl(192, 100%, 67%) to hsl(280, 87%, 65%);

}

.lightTheme .textStriked {
    text-decoration: line-through;
    color: hsl(233, 11%, 84%);
}

.lightTheme .iconCross {
    justify-self: flex-end;
}

.lightTheme .todoCounter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: hsl(236, 9%, 61%);
    font-size: 0.75rem;
}

/* Dark theme colours */
.darkTheme .todoContainer {
    background-color: hsl(235, 24%, 19%);
    border-radius: 0.5rem;
    position: absolute;
    padding: 0 1rem;
    top: 11rem;
    width: 80vw;

}

.darkTheme .todoList {
    list-style-type: none;
    padding: 0;
}

.darkTheme .todoItem {
    display: grid;
    grid-template-columns: 2rem 1fr 1fr;
    justify-items: start;
    border-bottom: 2px solid hsl(0, 0%, 98%);
    padding: 0.5rem 0;

}

.darkTheme .todoItem .checkbox:checked {
    background-color: linear-gradient hsl(192, 100%, 67%) to hsl(280, 87%, 65%);
    border-color: 0.1rem solid linear-gradient hsl(192, 100%, 67%) to hsl(280, 87%, 65%);

}

.darkTheme .textStriked {
    text-decoration: line-through;
    color: hsl(233, 11%, 84%);
}

.darkTheme .iconCross {
    justify-self: flex-end;
}

.darkTheme .todoCounter {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
    align-items: center;
    color: hsl(233, 11%, 84%);
    background-color: hsl(235, 24%, 19%);
    font-size: 0.75rem;
}