/* General Styles */
.todoList {
    list-style-type: none;
    padding: 0;
}

.todoItem {
    display: grid;
    grid-template-columns: 2rem 1fr 1fr;
    justify-items: start;
    padding: 0.5rem 0;
    cursor: pointer;
}

input[type="checkbox" i] {
    appearance: none;
}

.undone {
    appearance: none;
    margin: 0;
    font: inherit;
    width: 1.15em;
    height: 1.15em;
    border-radius: 50%;
    transform: translateY(-0.075em);
    cursor: pointer;
}

.done {
    margin: 0;
    font: inherit;
    width: 1.15em;
    height: 1.15em;
    border-radius: 50%;
    transform: translateY(-0.075em);
    background-image: url(src/assets/icon-check.svg), linear-gradient(hsl(192, 100%, 67%), hsl(280, 87%, 65%));
    background-repeat: no-repeat;
    background-position: center;
}

.textStriked {
    text-decoration: line-through;
    color: hsl(233, 11%, 84%);
}

.iconCross {
    justify-self: flex-end;
}

/* Light theme colours */
.lightTheme .todoItem {
    border-bottom: 0.1rem solid hsl(0, 0%, 98%);
}

.lightTheme .undone {
    background-color: hsl(0, 0%, 100%);
    border: 0.1rem solid hsl(0, 0%, 90%);
}

.lightTheme .textStriked {
    text-decoration: line-through;
    color: hsl(233, 11%, 84%);
}

/* Dark theme colours */
.darkTheme .todoItem {
    border-bottom: 0.05rem solid hsl(233, 11%, 84%);
}

.darkTheme .undone {
    background-color: hsl(235, 24%, 19%);
    border: 0.1rem solid hsl(0, 0%, 90%);
}

/* Media Queries */
@media (min-width:600px) {

    .todoContainer {
        max-width: 24rem;
    }

    .todoList {
        max-width: 24rem;
    }

    .emptyTodos {
        height: 10rem;
    }
}