/* General Styles */
.todosCounter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: hsl(236, 9%, 61%);
    font-size: 0.9rem;
    padding: 1rem 0;
}

.clearButton:hover {
    cursor: pointer;
}

/* Light theme colours */
.lightTheme .todosCounter {
    background-color: hsl(0, 0%, 100%);
}

/* Dark theme colours */
.darkTheme .todosCounter {
    background-color: hsl(235, 24%, 19%);
}

/* Media Queries */
@media (min-width:600px) {
    .todosCounter {
        align-items: flex-end;
    }
}