/* Light theme colours */

.lightTheme .todosMenu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2rem;
    background-color: hsl(0, 0%, 100%);
    border-radius: 0.5rem;
    padding: 0 1rem;
    top: 11rem;
    width: 80vw;
}


/* Dark theme colours */
.darkTheme .todosMenu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2rem;
    background-color: hsl(235, 24%, 19%);
    border-radius: 0.5rem;
    padding: 0 1rem;
    top: 11rem;
    width: 80vw;
}

.menuItem:hover {
    color: hsl(220, 98%, 61%);
}