#root {
  max-width: 1440px;
  margin: 0;
}

.headerImage {
  width: 100%;
}

.AppMain {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: space-between;
}

.appTitle {
  position: absolute;
  color: hsl(0, 0%, 100%);
  margin-left: 2rem;
}

.todoFormContainer {
  background-color: hsl(0, 0%, 100%);
  border-radius: 0.5rem;
  padding: 1rem;
  margin: 0 2rem;
  position: absolute;
  top: 7rem;
  width: 70vw;
}

.todoForm {
  border: none;
}

.todoContainer {
  margin: 0 2rem;
  background-color: hsl(0, 0%, 100%);
  border-radius: 0.5rem;
  position: absolute;
  padding: 0 1rem;
  top: 11rem;
  height: 60vh;
  width: 70vw;

}

.todoList {
  border-bottom: 2px solid hsl(0, 0%, 98%);
  padding: 1rem 0;
}

.attribution {
  margin: 2rem;
}