#root {
  max-width: 1440px;
  margin: 0;
}

.headerImage {
  width: 100%;
}

.appTitle {
  position: absolute;
  color: hsl(0, 0%, 100%);
  margin-left: 2rem;
}

.todoFormContainer {
 
  margin: 2rem;
  background-color: hsl(0, 0%, 100%);
  border-radius: 0.5rem;
  display: flex;
}

.todoForm {
  border: none;
  margin: 2rem;
}

.todoContainer {
  height: 80vh;
  margin: 2rem;
  background-color: hsl(0, 0%, 100%);
  border-radius: 0.5rem;

}

.todoList {
  margin-left: 2rem;
  border-bottom: 0.1rem solid;
}

.todoItem {}